<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4 position-relative">
    <h2 class="mx-auto">Stock Balance View</h2>
  </div>

  <!-- Date Picker -->
  <div class="d-flex justify-content-center align-items-center mb-4">
    <label for="stockingDate" class="form-label me-2"><strong>Select Date:</strong></label>
    <input
      id="stockingDate"
      type="date"
      [(ngModel)]="balanceDate"
      (ngModelChange)="calculateStockBalance()"
      class="form-control d-inline-block"
      style="max-width: 200px;"
    />
  </div>

  <!-- Stock Balance Table -->
  <div class="mt-5 text-center">
    <div class="mb-4" style="max-width: 600px; margin: 0 auto;">
      <h4>Stock Balance Summary</h4>
    </div>

    <div class="p-4 mb-4 border rounded shadow-sm bg-white" style="max-width: 600px; margin: 0 auto;">
      <p>
        <strong>Date:</strong> {{ balanceDate | date: 'dd-MM-yyyy' }}
      </p>

      <table class="table w-100">
        <thead>
          <tr>
            <th>Cage ID</th>
            <th>Cage Name</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cage of stockBalanceList">
            <td>{{ cage.cageId }}</td>
            <td>{{ getCageNameById(cage.cageId) }}</td>
            <td>{{ cage.balance }}</td>
          </tr>
          <tr *ngIf="stockedFishSummary.length === 0">
            <td colspan="4" class="text-muted text-center">No data available for this date.</td>
          </tr>
        </tbody>
      </table>
        <div class="d-flex align-items-center justify-content-between" style="max-width: 540px; margin: 0 auto;">
          <button type="button" class="btn btn-primary" (click)="goToBackPage()">
            Back
          </button>
          <button type="button" class="btn btn-warning" (click)="clearTableEntries()">
            Clear Table
          </button>
          <button class="btn btn-success" (click)="openPage()">
          View Chart 
          </button>
        </div>
    </div>
  </div>
</div>
